{% set active_page = "log" %}
{% extends "layout.html" %}

{% block body %}
<div class="form-group">
	<label for="textarea">Doorbell log (<span id="lines">?</span> lines)</label>
	<textarea class="form-control" id="textarea" style="height: 81vh"></textarea>
</div>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
	var url = 'http://' + document.domain + ':' + location.port;
	var socket = io.connect(url, {
		'reconnection': true,
		'reconnectionDelay': 1000,
		'reconnectionDelayMax': 5000,
		'reconnectionAttempts': Infinity,
		'forceNew': true
	});

	socket.on('connect', function() {
		console.log('connected to websocket');
		var textarea = $('#textarea');
		textarea.val(function(i, text) {
			return "";
		});
		socket.emit('message', 'connected');
	});

	socket.on('disconnect', function(reason) {
		console.log('websocket disconnected, reason: ' + reason);
		if (reason === 'io server disconnect') {
			// the disconnection was initiated by the server, you need to reconnect manually
			socket.connect();
		}
		// else the socket will automatically try to reconnect
	});

	socket.on('connect_error', function(error) {
		console.log('websocket connect_error: ' + error);
	});

	socket.on('connect_timeout', function(timeout) {
		console.log('websocket connect_timeout: ' + timeout);
	});

	socket.on('error', function(error) {
		console.log('websocket error: ' + error);
	});

	socket.on('reconnect_attempt', function(attemptNumber) {
		console.log('websocket reconnect_attempt, no: ' + attemptNumber);
	});

	socket.on('reconnecting', function(attemptNumber) {
		console.log('websocket reconnecting, no: ' + attemptNumber);
	});

	socket.on('reconnect_error', function(error) {
		console.log('websocket reconnect_error: ' + error);
	});

	socket.on('reconnect_failed', function() {
		console.log('websocket reconnect_failed');
	});

	socket.on('ping', function() {
		console.log('websocket ping');
	});

	socket.on('pong', function(latency) {
		console.log('websocket pong latency: ' + latency);
	});

	socket.on('message', function(msg){
		//console.log('websocket message ', msg);
		var textarea = $('#textarea');
		textarea.val(function(i, text) {
			return text + msg;
		});
		if(textarea.length)
			textarea.scrollTop(textarea[0].scrollHeight - textarea.height());
		var linesLabel = $('#lines');
		var text = textarea.val();
		var lines = text.split(/\r|\r\n|\n/);
		var count = lines.length;
		linesLabel.text(count);
	});
</script>
{% endblock %}
